<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>Congratulation ! you succesfully create an authentication server.....</h1>
  <h3>Now you can signup and then login any page </h3>
  <h1>And also you can put any HTML,CSS code and you can access that page after signup and signin only</h1>
<br><br>
<hr>
  <h1>Thank you Harkirat and Bahadur Bhaiya for helping this</h1>
</body>
</html>