<html>
    <head>
    <title>Successful Signup</title>
    </head>
    <body>
        <h1>you have successfully Signed-up</h1>
        <h2>Please go to login page</h2>
        <form action="/abhyuday" method="get">
            <a  href="http://localhost:3000/">LogIn</a>
        </form>
    </body>
</html>
